<div>
    <h2 id="page-heading">
        <span jhiTranslate="tngbtdApp.bookCopy.home.title">Book Copies</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-book-copy" [routerLink]="['/book-copy/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tngbtdApp.bookCopy.home.createLabel">
            Create a new Book Copy
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="bookCopies?.length === 0">
        <span jhiTranslate="tngbtdApp.bookCopy.home.notFound">No bookCopies found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="bookCopies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="tngbtdApp.bookCopy.signature">Signature</span></th>
                    <th scope="col" ><span jhiTranslate="tngbtdApp.bookCopy.title">Title</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let bookCopy of bookCopies ;trackBy: trackId">
                    <td><a [routerLink]="['/book-copy', bookCopy.id, 'view']">{{ bookCopy.id }}</a></td>
                    <td>{{ bookCopy.signature }}</td>
                    <td>{{ bookCopy.title }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/book-copy', bookCopy.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/book-copy', bookCopy.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(bookCopy)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
