<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="bookCopy">
            <h2><span jhiTranslate="tngbtdApp.bookCopy.detail.title">Book Copy</span> {{ bookCopy.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tngbtdApp.bookCopy.signature">Signature</span></dt>
                <dd>
                    <span>{{ bookCopy.signature }}</span>
                </dd>
                <dt><span jhiTranslate="tngbtdApp.bookCopy.title">Title</span></dt>
                <dd>
                    <span>{{ bookCopy.title }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/book-copy', bookCopy.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
