<div>
    <h2 id="page-heading">
        <span jhiTranslate="tngbtdApp.borrow.home.title">Borrows</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-borrow" [routerLink]="['/borrow/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="tngbtdApp.borrow.home.createLabel">
            Create a new Borrow
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="borrows?.length === 0">
        <span jhiTranslate="tngbtdApp.borrow.home.notFound">No borrows found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="borrows?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="tngbtdApp.borrow.borrowedAt">Borrowed At</span></th>
                    <th scope="col" ><span jhiTranslate="tngbtdApp.borrow.bookcopy">Bookcopy</span></th>
                    <th scope="col" ><span jhiTranslate="tngbtdApp.borrow.user">User</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let borrow of borrows ;trackBy: trackId">
                    <td><a [routerLink]="['/borrow', borrow.id, 'view']">{{ borrow.id }}</a></td>
                    <td>{{ borrow.borrowedAt | date:'mediumDate' }}</td>
                    <td>
                        <div *ngIf="borrow.bookcopy">
                            <a [routerLink]="['/book-copy', borrow.bookcopy?.id, 'view']" >{{ borrow.bookcopy?.signature }}</a>
                        </div>
                    </td>
                    <td>
                        {{ borrow.user?.login }}
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/borrow', borrow.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/borrow', borrow.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(borrow)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
