<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="borrow">
            <h2><span jhiTranslate="tngbtdApp.borrow.detail.title">Borrow</span> {{ borrow.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tngbtdApp.borrow.borrowedAt">Borrowed At</span></dt>
                <dd>
                    <span>{{ borrow.borrowedAt }}</span>
                </dd>
                <dt><span jhiTranslate="tngbtdApp.borrow.bookcopy">Bookcopy</span></dt>
                <dd>
                    <div *ngIf="borrow.bookcopy">
                        <a [routerLink]="['/book-copy', borrow.bookcopy?.id, 'view']">{{ borrow.bookcopy?.signature }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="tngbtdApp.borrow.user">User</span></dt>
                <dd>
                    {{ borrow.user?.login }}
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/borrow', borrow.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
