<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-borrow-heading" jhiTranslate="tngbtdApp.borrow.home.createOrEditLabel">Create or edit a Borrow</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tngbtdApp.borrow.borrowedAt" for="field_borrowedAt">Borrowed At</label>
                    <div class="input-group">
                        <input id="field_borrowedAt" type="text" class="form-control" name="borrowedAt" ngbDatepicker #borrowedAtDp="ngbDatepicker" formControlName="borrowedAt"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="borrowedAtDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                    <div *ngIf="editForm.get('borrowedAt')!.invalid && (editForm.get('borrowedAt')!.dirty || editForm.get('borrowedAt')!.touched)">
                        <small class="form-text text-danger"
                               *ngIf="editForm.get('borrowedAt')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tngbtdApp.borrow.bookcopy" for="field_bookcopy">Bookcopy</label>
                    <select class="form-control" id="field_bookcopy" name="bookcopy" formControlName="bookcopy">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="bookCopyOption.id === editForm.get('bookcopy')!.value?.id ? editForm.get('bookcopy')!.value : bookCopyOption" *ngFor="let bookCopyOption of bookcopies; trackBy: trackById">{{ bookCopyOption.signature }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="tngbtdApp.borrow.user" for="field_user">User</label>
                    <select class="form-control" id="field_user" name="user" formControlName="user">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="userOption.id === editForm.get('user')!.value?.id ? editForm.get('user')!.value : userOption" *ngFor="let userOption of users; trackBy: trackById">{{ userOption.login }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
